./*/R/*
./*/*.ai

GTFs/
BEDs/
chainmaps/
counts/
liftovers/
maps/
orthology/
overlaps/

scripts/outputGenerator.py
scripts/outputGenerator.zip

Danio_rerio.GRCz11.105.chr.gtf*
gencode.v39.annotation.gtf*
